/node_modules
.env
.prod.env
.vscode
build/
coverage/
yarn-error.log
src/demo.ts
cookie.json

channels.json
channels.example.env
.demo.env

.eslintcache
tsconfig.tsbuildinfo

src/dc.json
src/test.html